<%- include("header") -%>

<h1 class="box" id="heading">About this app</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo temporibus mollitia id itaque voluptatum culpa delectus libero. Similique cupiditate nulla voluptates consequatur, minus molestiae, beatae qui amet quas magnam doloremque suscipit. Eligendi, qui iusto iste nihil fuga doloremque autem?</p>

<%- include("footer") -%>